body{
  text-align: center;
  margin: 0;
  background-color: lightcyan;
  font-family: 'Poppins', sans-serif;
}
.btn-eye{
  width: 150px;
  height: 75px;
  color: white;
  background-color: black;
  border-color: black;
  border-style: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 1.2px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
  
}

.txt-result{
  font-size: 20px;
}

.hex{
  font-size: 20px
}
img{
  width: 50%;
}

.container{
  padding: 80px;
}